# Question 1:

In [1]:
import pandas as pd
from scipy import stats

In [2]:
cutlets_files=pd.read_csv("C:\\Users\\JOTHISH N\\Desktop\\DS\\HYPOTHESIS TESTING\\Cutlets.csv")

Null Hypothsis H0: There is no significant difference between the diameter of cutlets of the two outlets.


Alternate Hypothesis H1: There is a significant difference in the diameter of cutlets from the two outlets.

alpha=0.05

In [3]:
cutlets_files

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [4]:
stats.ttest_ind(cutlets_files["Unit A"],cutlets_files["Unit B"])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

Since pvalue is greater than 0.05, Null hypothesis is accepted.

## Question 2:

Null Hypothsis H0: There is no significant difference between the TAT of the four laboratories.

Alternate Hypothesis H1: There is a significant difference in the TAT from the four laboratories.

alpha=0.05

In [5]:
TAT_files=pd.read_csv("C:\\Users\\JOTHISH N\\Desktop\\DS\\HYPOTHESIS TESTING\\LabTAT.csv")

In [6]:
TAT_files

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [7]:
stats.f_oneway(TAT_files.iloc[:,0],TAT_files.iloc[:,1],TAT_files.iloc[:,2],TAT_files.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Since pvalue<0.05, the null hypothesis is rejected.

Alternate hypothesis is accepted. There is a significant difference between the TAT values of laboratories with 5% significance.

## Question 3:

In [8]:
buyer_files=pd.read_csv("C:\\Users\\JOTHISH N\\Desktop\\DS\\HYPOTHESIS TESTING\\BuyerRatio.csv")

In [9]:
buyer_files

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

H0: Null Hypothesis: All proportions are equal across regions.

H1: Alternate Hypothesis: Not all proportions are equal across regions.

alpha=0.05

In [10]:
result=stats.chi2_contingency(buyer_files.iloc[:,1:])
result

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [11]:
pvalue=result[1]

In [12]:
pvalue

0.6603094907091882

p-value>0.05.

Therefore Null Hypothesis is accepted and all regions have similar ratio for male and female.

## Question 4:

H0: The defective percentage value in all the centers are equal
H1: The defective percentage value in all centers are not equal.

In [13]:
customer_files=pd.read_csv("C:\\Users\\JOTHISH N\\Desktop\\DS\\HYPOTHESIS TESTING\\Costomer+OrderForm.csv")

In [14]:
customer_files

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [15]:
phillippines=pd.Series([len(customer_files[customer_files.Phillippines=='Error Free']),len(customer_files[customer_files.Phillippines=='Defective'])])
indonesia=pd.Series([len(customer_files[customer_files.Indonesia=='Error Free']),len(customer_files[customer_files.Indonesia=='Defective'])])
malta=pd.Series([len(customer_files[customer_files.Malta=='Error Free']),len(customer_files[customer_files.Malta=='Defective'])])
india=pd.Series([len(customer_files[customer_files.India=='Error Free']),len(customer_files[customer_files.India=='Defective'])])

In [16]:
customer_modified=pd.DataFrame()
customer_modified['phillippines']=phillippines
customer_modified['indonesia']=indonesia
customer_modified['malta']=malta
customer_modified['india']=india

In [17]:
customer_modified

   phillippines  indonesia  malta  india
0           271        267    269    280
1            29         33     31     20

In [18]:
customer_modified.set_axis(['Error Free','Detective'],inplace=True)

In [19]:
customer_modified

            phillippines  indonesia  malta  india
Error Free           271        267    269    280
Detective             29         33     31     20

In [20]:
result=stats.chi2_contingency(customer_modified)
result

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [21]:
pvalue=result[1]

In [22]:
pvalue

0.2771020991233135

p-value>0.05.

Therefore Null Hypothesis is accepted and all centers ahve equal defective percentage values.